.App-navbar{
  height: 60px;
  background-color: steelblue;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar{
  height: 60px;
  background-color: rgba(0, 0, 0, .1);
  padding: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: fixed; 
  top: 0; 
  width: 99%;
}

.navbar-nav{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 10px;
  margin: 0;
}

.nav-item{
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button{
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 2px 0px black;
  font-size: 1.2rem;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  padding: 6px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0e9f0;
}

.icon-button:hover{
  box-shadow: 0px 1px 3px 0px black;
  background-color: rgba(0, 0, 0, 0.03);
  color: white;
}

a{
  text-decoration: none;

}

.dropdown{
  position: absolute;
  top: 59px;
  width: 250px;
  transform: translateX(-39.5%);
  background-color: #3f75a2;
  border: 1px solid #315b7d;
  border-radius: 6px;
  padding: 0.5rem;
  overflow: hidden;
}

.dropdown-item{
  grid-column-gap: 15px;
  letter-spacing: 1px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: background 500ms;
  padding: 0.5rem;
  color: #e0e9f0;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  border: 3px solid #3f75a2;
}

.dropdown-item:hover{
  background-color: #588ebb;
  border: 3px solid #3f75a2;
}

.icon-right{
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.profile-logo{
  width: 1.7rem;
}

.App-content {
  padding-left: 50px;
  border: 1px solid steelblue;
  border-radius: 5px;
  margin: 5px;
  margin-top: 65px;
  height: 86.2vh;
  background-color: rgba(255, 255, 255, .25);
  padding-bottom: 30px;
  box-shadow: -1px -1px 1rem 0 rgba(104, 94, 94, 0.2);
  overflow-y: scroll;

}

.App-header {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  color: #e0e9f0;
  text-shadow: 1px 1px 6px black; 
  justify-content: center;
  margin-right: 45px;
}

/*.App-link {
  color: #61dafb;
}*/

.add-btn {
  height: 55px;
  width: 55px;
  border: 0;
  border-radius: 30px;
  margin: 25px 0 0 20px;
  padding: 5px 0 0 1px;
  box-shadow: 0px 0px 2px #315b7d;
  outline:none;
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
  background-color: steelblue;
}

.add-btn:hover {
  box-shadow: 1px 1px 2px 0px black;
}

.add-form {
  border: 2px solid #b8b8b8;
  border-radius: 20px;
  margin: 15px 50px 40px 0;
  background-color: gainsboro;
  box-shadow: 0px 0px 2px black;
  border-left: 4px solid #386890;
  border-right: 4px solid #386890;
  
}

.add-form:hover {
  box-shadow: 1px 2px 2px black;
}

.form-control {
  margin: 10px 5% 0 6%;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}


.form-control input {
  width: 96.5%;
  height: 25px;
  border-radius: 8px;
  outline: none;
  background-color: #efefef;
}

.form-control-check{
  width: 100px;
  height: auto;
  display: flex;  
}


.save-btn{
  width: 80%;
  margin: 0 0 16px 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  border-radius: 14px;
  background-color: #8c8c8c;
  border-left: 2px solid #999;
  border-top: 2px solid #999;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.save-btn:hover{
  background: linear-gradient(to right, #7b7b7b, #666, #7b7b7b)  
}

.task{
  border: 2px solid #b8b8b8;
  margin: 10px 50px 0 0;
  padding: 5px 0 5px 16px;
  border-radius: 8px;
  background-color: gainsboro;
  box-shadow: 0px 0px 2px black;
}

.task:hover {
  box-shadow: 1px 1px 3px black;
}

.reminder{
  border-left: 4px solid green;
  border-right: 4px solid green;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


.fa-cross{
  color: darkred;
  float: right;
  margin-right: 2vh;
  cursor: pointer;
  box-shadow: 0px 0px 2px black;
} 

.fa-cross:hover {
  color: red;
  box-shadow: 1px 1px 2px black;
}

::-webkit-scrollbar
{
  
  width: 3px;
  background-color: steelblue;
}

::-webkit-scrollbar-thumb
{  
   background: rgba(0, 0, 0, .25);
}

@media (max-width: 600px) {

  .navbar-nav{
    padding-right: 20px;
  }

  .App-header {
    font-size: 1rem;
  }

  .add-btn {
    height: 44px;
    width: 44px;
    font-size: 1em;
  }

  h1{
    margin-top: 26px;
  }
  
}